:root {
    --comic-height: 100%;
    --comic-width: 100%;
    --highlight-color: red;
}

.comic {
    display: block;

    padding: 0px;
    margin: 0px;

    border: var(--border);

    width: var(--comic-width);
    height: var(--comic-height);

}

.comicDisplay {
    font-size: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
}

.comicDisplay::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    height: 0px;
}