.pagePreview {
    display: block;
    padding: 4px;
    cursor: pointer;
    transition: all .12s;
    background-position: center;
    background-size: contain;
}

.pagePreview.placeholder {
    width: 100%;
    background-color: white;
}

@supports(aspect-ratio: 2 / 3) {
    .pagePreview.placeholder {
        aspect-ratio: 2 / 3 !important;
    }
}

@supports not(aspect-ratio: 2 /3) {
    .pagePreview.placeholder {
        height: 274px;
    }
}

.pagePreview:hover {
    padding: 8px;
}

.pagePreview.selected {
    background-color: red;
}